{# @var craft \craft\web\twig\variables\CraftVariable #}

{% if supervisedEntries|length %}
  <table class="fullwidth">
    {% for entry in supervisedEntries %}
      <tr>
        <td>
          <a href="{{ entry.getCpEditUrl() }}">{{ entry.title }}</a>
          <span class="light">
            {{ entry.dateCreated|timestamp('short') }}
            {%- if CraftEdition == CraftPro and entry.getAuthor() %}, {{ entry.getAuthor().username }} [{{ entry.getAuthor().email }}]{% endif -%}
          </span>
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
    <p>{{ "No entries to supervised"|t('sitemodule') }}</p>
{% endif %}